<div class="jumbotron text-center">
        <h1 class="display-3">Welcome to Website</h1>
        <p class="lead">Trần Gia Hải</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" href="/users/register" >Đăng Ký Tài Khoản</a>
			<a class="btn btn-primary btn-lg" role="button" href="/users/login" >Đăng Nhập</a>
        </p>
    </div>


