:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background: url(https://lh3.googleusercontent.com/0UXtX49LvJ8vw4grviCdJUluBkOMz6yOLAXvQht7xp5nPZsUXnm85_vEaKev17jqHvONIN9NEvnNXC695a3Uw5r1H6_oRlIzrkhkb2eRTa6RLdVk4kYsVVG30MlmRaQPz25lb5JE5MI8nxH0UFD4B6zUNadXZWrZVzr28GMBSkQICYVBBy1wXStzDQIYvxqDqi7HY1D9WmIvyXj0jc9Qcm0V25aCJp0qvAFPtz5S89TXrPGNjUfMDPmpym6w-rSPoXlu_7CGAp9mCrULYO81YJ8lAvP6RjuiqpR_ExYLQDwQhPJ7z26uw-VSxpfqynYHwG9ipUZ3i3OnIbOqMtatlTW1zrGLkPqLu1C7rtpZNdkuGnjqU21LeV-NxGIGiSGoQ8e4yM5VPTk_1MfkcX1_AdlEwSQGSYPFnDSZJYLQR6UjybL7lXooFDSy7HyzmySXQvh6uLiHN1kGp-k53wpI6w7iB8sDnRpTvEJUkegN5qLRKmZq-Vm4wdl33XMLeCwSMHFWuDoltPhq_GntKRUXbi4gKBBnoQQU0lHR5Il9X0126zWSEBEjcN20fD4RuEDc66YgXFGIOL3_Cz86P3m5JCFzgXNIg89WtuxlRW89f3yDeeUCvwN14kcbbfoBxkDuRZ8x4WtvWUHDOZIkieLDzKljtAYtNw=w1920-h1080-no);
    
}
  .container{
    margin-top: 250px;
    
  }
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    margin-top: 500px;
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    
  }
  
  .card-signin .card-body {
    padding: 2rem;
    
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }





  p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 7%;
    left: 50%;
    width: 42em;
    margin: 0 0 0 -20em;
    text-align: center;
    
  }
    span {
  
      font: 700 4em/1 "Oswald", sans-serif;
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Clip Background Image */
  
      background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
  
  /* Animate Background Image */
  
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 80s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  
    }
  
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  } 